body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%; 
    position: relative; /*Define a posição*/
    background-image: url(./imgs/Backnetflix.jpg); /*define imagem de fundo*/
    background-image: cover;
    background-repeat: no-repeat;/*Não permite que a magem de fundo repita*/
    font-family: Arial, Helvetica, sans-serif; /*Fonte do body*/
}

.logo img{
    height: 45px;
    width: 45px;
    position: relative;
    z-index: 0;
}

.topo{
    padding: 40px 50px;
    z-index: 0;
}
.films{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    transition: all .2s ease-in-out;

}
.films:hover{
    top: -5px;
}

.figuras{
    max-width: 100px;
    max-height: 100px;
}

.Texto-filme-pai{
  align-items:center;
  display: flex;
  justify-content: center;
  padding-bottom: 0px;
  width: 100%; 
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.Texto-filme-filho{
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 60px 0;
  z-index: 0;
}

.filme-titulo{
  color: white;
  font-family: 'Helvetica Neue', Helvetica,Arial,sans-serif;
  font-size: 55px;
  max-width: 70%;
  text-align: center;
}

.filme-subtitulo{
  color: white;
  font-family: 'Helvetica Neue', Helvetica,Arial, sans-serif;
  font-size: 25px;
  font-weight: 300;
  margin: 20px 0 30px;   
}

.filme-msg{
    color: white;
    font-size: 18px;
    font-family:'Helvetica Neue', Helvetica,Arial,sans-serif;
}

.input_pesquisar{
  display: flex;
  justify-content: center;
  width:100%;
}

.TextoPesquisar{
    border: 0;
    background-color: #FFF;
    border-radius:0;
    padding: 15px 20px;
    width: 35%;
    z-index: 0;
}

.BotaoPesquisar{
    background-color: #e50914;
    border: none;
    cursor: pointer;
    color: pointer;
    font-size: 25px;
    padding: 15px 30px;
    transition: all .2s ease-in-out;
    z-index: 0;
}

.logo img{
  height: 45px;
  width: 167px;
  position: relative;
  z-index: 0;
}

body::before{
  content: '';
  background-color: rgba(0, 0, 1, 0.699);
  min-height: 100vh;
  position: fixed;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
}




/* PARA AJUSTAR DE ACORDO COM O CELULAR INSIRA OS COMPONENTES NO @MERIA ABAXO */



@media screen and (max-width: 700px) {
  .filme ul {
    display: flex;
    margin-left: 0px;
    
  }
  
  .filme li {
    margin-top: 200px;
    z-index: 10;
    list-style: none;
  }
  .filme li img{
    z-index: 0;
    max-width: 200px;
    list-style: none;
    position: relative;
    padding: 0;
    
  }
  .Lista_de_filmes{
    background-color: black;
  }
  .filme-titulo, .filme-msg{
    display: none;
  }
  .logo img{
    left: 55px;
    position: relative;
  }
  .BotaoPesquisar{
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
  } 
  .TextoPesquisar{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
  }
  .Texto-filme-filho h2{
    margin: auto;
    position: relative;
    text-align: center;
  }

}